{
    "dashboard": {
	  "refresh": "10s",
  "rows": [
    {
      "collapse": false,
      "height": 60,
      "panels": [
        {
          "headings": false,
          "id": 10000,
          "limit": 10,
          "links": [],
          "query": "",
          "recent": false,
          "search": true,
          "span": 12,
          "starred": false,
          "tags": [
            "general_monitoring"
          ],
          "title": "Return",
          "type": "dashlist"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": -452,
      "panels": [
        {
          "content": "<font size=\"4\"><b><center>{{ inventory_hostname }}</center></b></font>",
          "id": 20000,
          "links": [],
          "mode": "html",
          "span": 12,
          "title": "",
          "transparent": true,
          "type": "text"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    },
    {
      "collapse": false,
      "height": 155,
      "panels": [


{% set count_id = 1 %}
{% for  container_name in container_names %}
        {
          "clusterName": "{{ container_name }}",
          "datasource": "telegraf_{{ inventory_hostname }}",
          "displayName": "{{ container_name }}",
          "flipTime": 5,
          "id": {{ count_id }} ,
          "isGrayOnNoData": true,
          "links": [],
          "span": 1,
          "targets": [
            {
              "aggregation": "Avg",
              "alias": "Cpu",
              "crit": "80",
              "display": true,
              "displayType": "Regular",
              "dsType": "influxdb",
              "groupBy": [],
              "measurement": "docker_container_cpu",
              "orderByTime": "ASC",
              "policy": "default",
              "refId": "A",
              "resultFormat": "time_series",
              "select": [
                [
                  {
                    "params": [
                      "usage_percent"
                    ],
                    "type": "field"
                  }
                ]
              ],
              "tags": [
                {
                  "key": "container_name",
                  "operator": "=",
                  "value": "{{ container_name }}"
                }
              ],
              "valueHandler": "Threshold",
              "warn": "60"
            }
          ],
          "title": "",
          "type": "vonage-status-panel"
        }
  {% if count_id  <  container_names|length  %}
,
  {% endif %}
  {% set count_id = count_id +1 %}
{% endfor %}

],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    },
{
      "collapse": false,
      "height": 250,
      "panels": [
        {
          "headings": false,
          "id": 30000,
          "limit": 20,
          "links": [],
          "query": "",
          "recent": false,
          "search": true,
          "span": 12,
          "starred": false,
          "tags": [
            "{{ inventory_hostname }}_container_monitoring"
          ],
          "title": "Links",
          "type": "dashlist"
        }
      ],
      "repeat": null,
      "repeatIteration": null,
      "repeatRowId": null,
      "showTitle": false,
      "title": "Dashboard Row",
      "titleSize": "h6"
    }
  ],
        "tags": [
            "node_monitoring",
	    "{{ inventory_hostname }}_monitoring"
        ], 
        "title": "{{ inventory_hostname }}", 
        "version": 0, 
    "time": {
    "from": "now-6h",
    "to": "now"
  },
        "timezone": "browser", 
        "schemaVersion": 6, 
        "id": null
    },
    "overwrite": true
}


